@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html , body {
    background: url('../imagens/milad-fakurian-iFu2HILEng8-unsplash.jpg') top center no-repeat fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

div#celular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    
    background: url('../imagens/frame-iphone.png') no-repeat ;
}

iframe.tela {
    position: relative;
    top: 81px;
    left: 23px;
    height: 470px;
    width: 265px;
}

div#redes {
    position: relative;
    top: 15%;
    left: 94%;

    background-color: white;
    width: 82px;
    height: 460px;
    border-radius: 30px 0% 0% 30px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.384);
}

div#redes img {
    position: relative;
    left: 6.5px;
    top: 2%;

    border-radius: 50%;
    width: 60px;
    margin: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.301);

    box-sizing: border-box;
}

div#redes img:hover {
    transform: scale(1.07);
    transition: transform 0.4s;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.349);
}

div#redes img:active {
    box-shadow: 0px 0px 0px black;
    transform: scale(1.0);
    transition: transform 0.1s, border;
}

div#power {
    background-color: white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.384);
    width: 75px;
    border-radius: 0px 30px 30px 0px ;

}

div#power img {
    position: relative;
    display: inline-block;
    top: ;
    left: ;
    width: 60px;
    padding: 5px;
}